.container{
    width: 100%;
    display: inline-block; 
}
.box1{
    box-sizing: content-box;
    width: 30%;
    height: 100%;
    border: 5px solid black;
    padding: 30px;

}
.box2{
    box-sizing: border-box;
    width: 30%;
    height: 100%;
    border: 5px solid black;
    padding: 30px;
}
body{
    background-color: lightcyan;
}

@media screen and (max-width: 992px){
    body{
        background-color: lightgreen;
        color: black;
    }
}

@media only screen and (max-width: 600px){
    body{
        background-color: lightsalmon;
        color: red;
        font-size: 20px;
    }
}
img{
    width: 128px;
    height: 200px;
    float: right;
}
.bloco{
    display: inline-block;
    border: 1px solid black;
    width: 200px;
    height: 60px;
    margin: 1em;
}
.one{
    display: block;
    /* width: 100px;
    height: 100px; */
    padding: 5px;
    border: 1px solid black;
    background-color: blue;
}
h2{
    position: absolute;
    /* left: 600px; */
    /* top: 1900px; */
    /* right: 200px; */
    /* bottom: 560px; */
}
.relativo{
    position: static;
    border: 1px solid yellow;
    width: 300px;
    height: 100px;;
}
/* 
POSITION STATIC: É O DEFAULT;
POSITION ABSOLUT: VOCÊ PODE COLOCAR O ELEMENTO ONDE VOCÊ QUISER COM TOP, LEFT, RIGHT E BOTTOM;
POSITION RELATIVE: RELATIVO AO SEU POSICIONAMENTO E PERMITE QUE OUTROS ELEMENTOS PASSEM PELO MESMO.
*/